body {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 164, 245);
    margin: 0px;
    color:rgb(13, 1, 27)
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(241, 229, 248);
    background-color:rgb(96, 10, 117);
    padding: 10px;
    margin-top: 0px;
}

.mainArea {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.toCancel {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 700px;
    height: 500px;
    padding: 5px;
}

.fifthRound {
    display: flex;
    align-self: center;
    height: 100px;
}

button {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(30, 3, 66);
    background-color:rgb(241, 229, 248);
}

.next, .restart {
    width: 150px;
}

.restart {
    background-color: rgb(30, 3, 66);
    color:rgb(215, 164, 245)
}

.toCancel {
    color: rgb(13, 1, 27);
}

.choose, .scoreTitle {
    font-weight: 700;
    color:rgb(195, 15, 240);
}

.playerScore, .pcScore, .draws {
    height: 100px;
}